:root {
  --primary-color:#8c81f3;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family:'Roboto Mono', monospace;
  --default-font-family:'Roboto Mono',
    monospace;
}
body {
      max-width: 1400%;
  text-align: center;
  font-family: var(---default-font-family);

}
.first {
  font-family: var(--heading-font-family);
  color: white;
  height: 600px;
  margin-top: 2px;
  padding-top: 72px;
  background-image: url("background.jpg");
}

.first h1 {
font-weight:700;
  font-size: 70px;
  animation: slide-up 1.5s ease;
}
h2 {
  font-size: 37px;
  opacity: 0.8;
}
h3 {
  opacity: 0.8;
}
.second h4 {
  font-size: 45px;
  font-weight: 600;
}
p {
  font-size: 21px;
  font-family: var(--default-font-family);
}
.img-fluid{
  padding: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    background-color: #fff9f9;
    box-shadow: var(--box-shadow);
}
.about-section {
  text-align: initial;
  padding: 30px 60px;
}
.about-section h1 {
  font-size: 62px;
  font-family: var(--heading-font-family);
}
.about-section h3 {
  opacity: 1;
  font-size: 26px;
    font-weight: 600;
}
.about-section p {
  padding-top: 35px;
  font-size: 19px;
  line-height: 30px;
}
.myphoto {
  max-width: 100px;
  border-radius: 18px;
}
.navegation-links a {
  margin-right: 10px;
  border-radius: 18px;
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  padding: 20px;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}
.navegation-links a:hover {
  margin-right: 10px;
  border-radius: 18px;
  text-decoration: none;
  color: var(--primary-color);
  background-color: white;
  padding: 20px;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}
.launch {
  border-radius: 18px;
  text-decoration: none;
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 20px;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}
.launch:hover{
  border-radius: 18px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    padding: 20px;
    text-transform: capitalize;
    box-shadow: var(--box-shadow);
}
a:hover {
  text-decoration: none;
  color: black;
}
.social:hover {
  width: 30px;
  transition: all 100ms ease-in-out;
}
footer .container {
  color: white;
  padding: 30px 120px;
  background-color: black;
  border-radius: 18px;
}
footer .navegation-links {
  margin-top: 34px;
}
.email {
  font-size: 25px;
  color: black;
}
.email:hover {
  color: var(--primary-color);
}
.second {
  margin-top: 100px;
  color: black;
}

.row {
  margin-top: 90px;
}
.section-title {
  font-size: 58px;
}
.img-fluid {
  max-width: 85%;
}
.portrait2 {
  width: 130%;
  border-radius: 9999px;
  margin-top: -43px;
  margin-left: -193px;
}
.content-container {
  padding: 60px 20px;
}
.nav-link {
  font-family: var(---default-font-family);
}
.nav-link:hover {
    color: var(--primary-color) !important;
  }
  
.endOfFooter{
  text-align: center;
}

@media (max-width: 576px) {
  h1 {
    font-size: 75px;
    font-family: var(--heading-font-family);
  }
  h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 35px;
    margin-top: 15px;
  }
  p {
    font-size: 18px;
  }
  .first {
    margin-top: 40px;
    margin-bottom: -70px;
    text-align: center;
  }
  .second {
    padding-top: 0px !important;
    text-align: center;
  }
  .img-fluid {
    display: none;
  }
  .launch {
    display: block;
    text-align: center;
  }
  .portrait2 {
    display: none;
  }
  footer .email {
    color: black;
    font-size: 25px;
  }
  footer .container {
    display: none;
  }
  footer .email {
    font-size: 20px;
  }
  footer my-3 {
    font-size: 14px;
  }
  .about-section {
    padding: 0px 10px;
  }
  .about-section .navegation-links {
    display: block;
    text-align: center;
  }
  .contact-info {
    padding: 10px 5px;
  }
  .contact-info h1 {
    font-size: 60px;
  }
  .contact-info h2 {
    font-size: 23px;
  }
  .contact-info a {
    font-size: 18px;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slide-right {
  0% {
    transform: translatex(250px);
  }
  100% {
    transform: translatex(0px);
  }
}
