:root {
  --primary-color: #e6739f;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Petrona", serif;
  ---default-font-family: "Cabin", sans-serif;
}
body {
  max-width: 1300px;
  text-align: center;
  background: linear-gradient(
    149deg,
    rgba(255, 255, 255, 1) 42%,
    rgba(243, 236, 245, 1) 97%
  );
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 88px;
  animation: slide-up 1.5s ease;
}
h2 {
  font-size: 37px;
  opacity: 0.8;
}
h3 {
  opacity: 0.8;
}
h4 {
  font-size: 42px;
  font-family: var(--heading-font-family);
  font-weight: 600;
}
p {
  font-size: 21px;
  font-family: var(---default-font-family);
}
.contact-info {
  padding-left: 211px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.contact-info h2 {
  margin: 15px 0px;
  opacity: 0.9;
}
.contact-info a {
  color: var(--primary-color);
  line-height: 30px;
  font-size: 19px;
}
.about-section {
  text-align: initial;
  padding: 30px 60px;
}
.about-section h1 {
  font-size: 65px;
  font-family: var(--heading-font-family);
}
.about-section h3 {
  opacity: 1;
  font-size: 25px;
}
.about-section p {
  padding-top: 20px;
  font-size: 19px;
  line-height: 30px;
}
.myphoto {
  max-width: 100px;
  border-radius: 18px;
}
.navegation-links a {
  margin-right: 10px;
  border-radius: 18px;
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  padding: 20px;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}
.launch {
  border-radius: 18px;
  text-decoration: none;
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 20px;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}
a:hover {
  text-decoration: none;
  color: black;
}
.social:hover {
  width: 30px;
  transition: all 100ms ease-in-out;
}
footer .container {
  padding: 30px 120px;
  background-color: #f6e5e5;
  border-radius: 18px;
}
footer .navegation-links {
  margin-top: 34px;
}
.email {
  font-size: 25px;
  color: black;
}
.email:hover {
  color: var(--primary-color);
}
.first {
  margin-top: 130px;
}
.second {
  margin-top: 100px;
  color: black;
}

.row {
  margin-top: 90px;
}
.section-title {
  font-size: 58px;
}
.img-fluid {
  max-width: 85%;
}
.portrait2 {
  width: 95%;
  border-radius: 9999px;
  margin-top: -43px;
  margin-left: -193px;
}
.content-container {
  padding: 60px 20px;
}
.work-1,
.work-2 {
  margin: 60px 0;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
  background-color: #ecf2f9;
}
.work-1 {
  animation: slide-right 1.5s ease;
}
.work-h1 {
  font-size: 65px;
}
.work-p {
  opacity: 0.8;
  font-size: 18px;
}
.work-pic {
  max-width: 40%;
}
.nav-link {
  font-family: var(---default-font-family);
}

@media (max-width: 576px) {
  h1 {
    font-size: 75px;
  }
  h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 35px;
    margin-top: 15px;
  }
  p {
    font-size: 18px;
  }
  .first {
    margin-top: 40px;
    margin-bottom: -70px;
  }
  .second {
    padding-top: 0px !important;
  }
  .img-fluid {
    display: none;
  }
  .launch {
    display: block;
    text-align: center;
  }
  .portrait2 {
    display: none;
  }
  footer .email {
    color: black;
    font-size: 25px;
  }
  footer .container {
    display: none;
  }
  footer .email {
    font-size: 20px;
  }
  footer my-3 {
    font-size: 14px;
  }
  .about-section {
    padding: 0px 10px;
  }
  .about-section .navegation-links {
    display: block;
    text-align: center;
  }
  .contact-info {
    padding: 10px 5px;
  }
  .contact-info h1 {
    font-size: 60px;
  }
  .contact-info h2 {
    font-size: 23px;
  }
  .contact-info a {
    font-size: 18px;
  }
  .work-h1 {
    font-size: 53px;
  }
  .work-1,
  .work-2 {
    padding-top: 1px;
    padding-bottom: 40px;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slide-right {
  0% {
    transform: translatex(250px);
  }
  100% {
    transform: translatex(0px);
  }
}
